# Dependency directories
node_modules/

# Environment variables
.env

# Service account keys
*.json
!package.json
!package-lock.json

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS specific files
.DS_Store
Thumbs.db